<%-include('../partials/head') %>

<body>
    <%-include('../partials/header') %>


    <main>
    <div id="products" class="products-title">
        <h5><%=  category_id  %></h5>
    </div>
    <section class="articles-ambos" aria-label="Articles">
    <% if (products && products.length) { %>
        <% products.forEach(product => { %>
            <% try { %>
                <%- include('../partials/images', {
                    product_id: product.product_id,
                    product: product,
                    price: product.price
                }) %>
            <% } catch (error) { %>
                <p>Error al incluir imagen: <%= error.message %></p>
            <% } %>
        <% }); %>
    <% } %>
</main>
<%- include('../partials/footer') %>
</body>
</html>


