<%-include('../partials/head') %>

<body>
    <%-include('../partials/header') %>


    <main>
    <ul> <h4 id="products" class="products-title"><%= product.product_name %></h4> 
    <%- include('../partials/images', { id: product.product_id, product: product, price: product.price }) %><p><%= product.product_description %></p>
    <h3>Características:</h3> 

    <% product.features.forEach(feature => { %> 
        <li class="product-description"><%= feature %></li> 
    <% }) %> 
    </ul> 
</main> 
<%- include('../partials/footer') %> 
</body> 
</html>

