<%- include('./partials/head') %>
<body>
<%- include('./partials/header') %>
<main>
    <div class="destacados-container">
        <h2 class="destacados-titulo">Productos Destacados</h2>
    </div>

    <section class="carousel">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% carouselItems.forEach(product => { %>
                    <div class="swiper-slide">
                        <a href="/products/productDetail/<%= product.product_id %>"><img src="/uploads/<%= product.image %>" alt="<%= product.product_name %>" class="products-img-ambos"> </a>
                    </div>
                <% }) %>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>

    <div class="container-sm">
        <h4 class="ofertas-titulo">¡¡¡OFERTAS!!!</h4>
    </div>

    <section class="offers">
        <% products.forEach(product => { %>
            <div class="products">
                <a href="/products/productDetail/<%= product.product_id %>"><img class="article" src="/uploads/<%= product.image %>" alt="<%= product.product_name %>"></a>
                <div class="flex-container">
                    <div class="fav">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                    <div class="precio">$<%= product.price %></div>
                    <div class="descr"><%= product.product_name %></div>
                </div>
            </div>
        <% }) %>
    </section>
</main>
<%- include('partials/footer') %>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/javascripts/carousel.js"></script>
<script src="/javascripts/index.js"></script>

</body>
</html>