<%- include('partial/head') %>
<body>
<%- include('partial/header') %>
<main>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    
<!-- Sección del Carrusel -->
<section class="carousel">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% carouselItems.forEach(product => { %>
                <div class="swiper-slide">
                    <a href="/products/product/<%= product.id %>"><img src="<%= product.image %>" alt="<%= product.name %>" class="products-img-ambos"></a>
                </div>
            <% }) %>
        </div>


            <!-- Paginación -->
            <div class="swiper-pagination"></div>
            <!-- Navegación -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>

    <div>
        <h4>Ofertas</h4>
    </div>
    
    <section class="offers">
        <!-- Productos -->
        <% products.forEach(product => { %>
            <div class="products">
                <a href="/products/product/<%= product.id %>"><img class="article" src="<%= product.image %>" alt="<%= product.name %>"></a>
                <div class="flex-container">
                    <div class="fav">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                    <div class="precio">$<%= product.price %></div>
                    <div class="descr"><%= product.name %></div>
                </div>
            </div>
        <% }) %>
    </section>
</main>
<%- include('partial/footer') %>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/javascripts/carousel.js"></script>
<script src="/javascripts/index.js"></script> 

</body>
</html>
