<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <main class="container mt-5">
        <h1>Editar Usuario: <%= userToEdit.user_name %></h1>
        <form action="/users/editUsers/<%= userToEdit.user_id %>" method="POST" enctype="multipart/form-data">
            <% if (locals.errors && errors.length > 0) { %>
                <div class="alert alert-danger">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
            <div class="mb-3">
                <label for="first_name" class="form-label">Nombre:</label>
                <input type="text" class="form-control <%= locals.errors && errors.find(err => err.param === 'first_name') ? 'is-invalid' : '' %>" id="first_name" name="first_name" value="<%= userToEdit.first_name %>">
                <% if (locals.errors && errors.find(err => err.param === 'first_name')) { %>
                    <div class="invalid-feedback">
                        <%= errors.find(err => err.param === 'first_name').msg %>
                    </div>
                <% } %>
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Apellido:</label>
                <input type="text" class="form-control <%= locals.errors && errors.find(err => err.param === 'last_name') ? 'is-invalid' : '' %>" id="last_name" name="last_name" value="<%= userToEdit.last_name %>">
                <% if (locals.errors && errors.find(err => err.param === 'last_name')) { %>
                    <div class="invalid-feedback">
                        <%= errors.find(err => err.param === 'last_name').msg %>
                    </div>
                <% } %>
            </div>
            <div class="mb-3">
                <label for="user_name" class="form-label">Usuario:</label>
                <input type="text" class="form-control <%= locals.errors && errors.find(err => err.param === 'user_name') ? 'is-invalid' : '' %>" id="user_name" name="user_name" value="<%= userToEdit.user_name %>">
                <% if (locals.errors && errors.find(err => err.param === 'user_name')) { %>
                    <div class="invalid-feedback">
                        <%= errors.find(err => err.param === 'user_name').msg %>
                    </div>
                <% } %>
            </div>
        </main>

        <script src="/javascripts/editUserValidation.js"></script>
        <%- include('../partials/footer') %>
    </body>